In [ ]:
heroes = ['Batman','Superman','Spiderman']
print(heroes)
print(heroes.index('Batman'))
print(heroes[0])
heroes.append('Wonderwoman')
heroes.remove('Batman')
#print(heroes[2])
print(heroes.index('Superman'))
print(heroes)

['Batman', 'Superman', 'Spiderman']
0
Batman
0
['Superman', 'Spiderman', 'Wonderwoman']

during execution error showed in line 1 & 7 and the reason is the # sign thats why i remove it and it succefully print the output

In [ ]:
heroes = ['Batman','Superman','Spiderman']
print('Batman' in heroes)
print('Ironman' not in heroes)
hero = 'superman'
print(hero in heroes)
print('ironman'not in ['Captain America','Ironman','Hulk'])

True
True
False
True

in this code it will identified if the heroes are belong using true or false

In [ ]:
heroes1 = ['Batman','Superman','Spiderman']
heroes2 = ['Captain America','Ironman','Hulk']
print (heroes1 + heroes2)
heroes = heroes1 + heroes2
heroes2.remove('Hulk')
print(heroes2)

['Batman', 'Superman', 'Spiderman', 'Captain America', 'Ironman', 'Hulk']
['Captain America', 'Ironman']

in this code it will print all the name of the hereos

In [ ]:
heroes = ['Batman','Superman','Spiderman','Captain America','Ironman','Hulk']
heroes.sort()
print(heroes)
heroes.reverse()
print(heroes)

['Batman', 'Captain America', 'Hulk', 'Ironman', 'Spiderman', 'Superman']
['Superman', 'Spiderman', 'Ironman', 'Hulk', 'Captain America', 'Batman']

it will print all the name of the hereos alphabetical in reverse

In [ ]:
heroes = ['Batman','Superman','Spiderman','Captain America','Ironman','Hulk']
print(sorted(heroes))
print(list(reversed(heroes)))
print(heroes)

['Batman', 'Captain America', 'Hulk', 'Ironman', 'Spiderman', 'Superman']
['Hulk', 'Ironman', 'Captain America', 'Spiderman', 'Superman', 'Batman']
['Batman', 'Superman', 'Spiderman', 'Captain America', 'Ironman', 'Hulk']

in first line it sort the heroes name. in second line it sort the heroes name in reverse. in third line it print the heroes name.

In [2]:
heroes = ['Batman', 'Superman', 'spiderman', 'Captain America', 'Ironman', 'Hulk'] 
for hero in heroes:
    print(f"my hero is {hero}") #Try this also
    print("my hero is {}".format(hero))

my hero is Batman
my hero is Batman
my hero is Superman
my hero is Superman
my hero is spiderman
my hero is spiderman
my hero is Captain America
my hero is Captain America
my hero is Ironman
my hero is Ironman
my hero is Hulk
my hero is Hulk

in this code it print my heroes twice with heroes name

In [6]:
numbers = [1, 2, 3, 4, 5, 6]
total = 0
for number in numbers:
    total = total + number
print(total)

21

in this code it print and total all the numbers including 0 so the result will be 21.

In [7]:
numbers = [1, 2, 3, 4, 5, 6]
total = sum(numbers)
print(total)

21

all the numbers have been total

In [ ]:
age = input("Type your age: ")
age = int(age)
if age >= 100:
    print("That is not a valid age")
elif age >= 18:
    print("You are old enough to drive")
elif age <= 0:
    print("That is not a valid age")
else:
    print("You are not old enough to drive")

type your age:0
that is not a valid age

in this code it will ask you your age and idenfied if your age are valid to drive or not

In [ ]:
age = input("Type your age: ")
age = int(age)
if age >= 100 or age <= 0:
     print("That is not a valid age")
elif age >= 18:
      print("You are old enough to drive")
else:
     print("You are not old enough to drive")

type your age:31
you are old enough to drive

in this code it will ask you your age and idenfied if your age are not old  enough to drive

In [10]:
numbers = [200, 100, 43, 10, -10, 0]
for number in numbers:
    if number > 100:
         print(f"{number} is greater than 100")
    elif number < 100: 
        print(f"{number} is less than 100")

200 is greater than 100
43 is less than 100
10 is less than 100
-10 is less than 100
0 is less than 100

it will identified if the numbers are less or greater than 100

In [8]:
numbers = [200, 100, 43, 10, -10, 0]
filtered = [] 
for number in numbers:
     if number > 30:
         filtered.append(number) 
print(filtered)

[200, 100, 43]

it will identified if the numbers are less than 30