In [35]:
numbers = [1, 2, 3, 4, 5, 6]

for number in numbers:
    if (number%2) == 0:
      print(f"{number} is even")
    else:
      print(f"{number} is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even

it identify if the number is odd or even

In [2]:
numbers = [1, 2, 3, 4, 5, 6]
evens = [ ]
odds = [ ]

for number in numbers:
  if (number%2) == 0:
    evens.append(number)

for number in numbers:
  if (number%2) != 0:
    odds.append(number)

print(evens)
print(odds)

[2, 4, 6]
[1, 3, 5]

it will seperate the odd and even numbers

In [34]:
numbers = [1, 2, 3, 4, 5, 6]
doubles = [ ]

for number in numbers:
    number *= 2
    doubles.append(number)
print(doubles)

[2, 4, 6, 8, 10, 12]

it will dobles the number by 2 so the result is 2, 4, 6, 8, 10, 12.

In [31]:
numbers = [1, 2, 3, 4, 5, 6]
evens = [number for number in numbers if (number % 2) == 0]
odds = [number for number in numbers if (number % 2) != 0]

print(evens)
print(odds)

[2, 4, 6]
[1, 3, 5]

it will seperate the odd and even number

In [13]:
numbers = [1, 2, 3, 4, 5, 6]
doudles = [number * 2 for number in numbers]
print(doubles)

[2, 4, 6, 8, 10, 12]

it will dobles the number by 2 so the result is 2, 4, 6, 8, 10, 12.

In [30]:
name_lengths = []
names = ["alice", "bob", "carol"]
name_lengths = [len(name) for name in names]

print(name_lengths)

[5, 3, 5]

it will count the letters of the name

In [28]:
record = ["alice", 5]
name, length = record
print(f"{name} have a length of {length}")

alice have a length of 5

it will print the length in the records

In [27]:
records = [
  ["alice", 5],
  ["bob", 3],
  ["carol", 4],
]

for name, length in records:
  print(f"{name} have a length of {length}")

alice have a length of 5
bob have a length of 3
carol have a length of 4

it will print the length one by one in the records

In [26]:
names = ["alice", "bob", "carol"]
name_lengths = [5, 3, 5]

for name, length in zip(names, name_lengths):
    print(f"{name} have a length of {length}")

    print (zip(names, name_lengths))
    print (list(zip(names, name_lengths)))

alice have a length of 5
<zip object at 0x7f0338c8af50>
[('alice', 5), ('bob', 3), ('carol', 5)]
bob have a length of 3
<zip object at 0x7f0338c8a690>
[('alice', 5), ('bob', 3), ('carol', 5)]
carol have a length of 5
<zip object at 0x7f0338c8a910>
[('alice', 5), ('bob', 3), ('carol', 5)]

it will print the length and code of the names

In [24]:
names = ["alice", "bob", "carol", "marvin"]
name_lengths = [5, 3, 5]
genders = ["female", "male", "female"]
ages = [15, 22, 34]

for name, length, gender, age in zip(names,name_lengths, genders, ages):
  print(f"{name} have a length of {length}. They are {gender}. Ages are {age}")
  print(filter)

alice have a length of 5. They are female. Ages are 15
<class 'filter'>
bob have a length of 3. They are male. Ages are 22
<class 'filter'>
carol have a length of 5. They are female. Ages are 34
<class 'filter'>

it will identify the sex and age of the names from the given information